<div class="m-4 flex flex-row flex-wrap justify-content-center gap-3">
  <p-card header="Calculadora de Compras" subheader="C#, .NET, Blazor WASM" styleClass="w-full"
    [style]="{'max-width': '300px'}">
    Um aplicativo para calcular o valor total de suas compras.
    <ng-template pTemplate="footer">
      <a href="https://www.calculadoradecompras.chriscorrea.dev/" target="_blank" rel="noopener">Ir para
        aplicativo</a>
    </ng-template>
  </p-card>
</div>

<p-divider></p-divider>

<div class="col-10 col-offset-1 text-center mt-5">
  <div class="text-2xl text-yellow-500 font-medium sm:text-3xl md:text-5xl lg:text-7xl">
    <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
    <span class="mx-2 lg:mx-5">Em breve mais projetos...</span>
    <fa-icon [icon]="faPaintRoller"></fa-icon>
  </div>
</div>
