@page "/"

<PageTitle>Em breve...</PageTitle>

<div class="d-flex flex-column justify-center align-content-center mt-16">
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert=true>
        <MudText Typo="Typo.h1" Align="Align.Center"><strong>Em Construção...</strong></MudText>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.Sm" Invert=true>
        <MudText Typo="Typo.h2" Align="Align.Center"><strong>Em Construção...</strong></MudText>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.Xs" Invert=true>
        <MudText Typo="Typo.h4" Align="Align.Center"><strong>Em Construção...</strong></MudText>
    </MudHidden>
</div>
