<div class="grid mt-3">

  <div class="col-10 col-offset-1 md:col-3 lg:mt-8">
    <div class="flex flex-1 flex-row justify-content-center">
      <p-image src="assets/images/chris.png" alt="Christopher Corrêa" width="100%"
        imageClass="w-full max-w-18rem  border-circle">
      </p-image>
    </div>
  </div>

  <div class="col-10 col-offset-1 md:col-6">
    <div class=" flex flex-1 flex-column text-center align-items-center
        md:h-full md:justify-content-center md:text-left md:align-items-start">
      <h1 class="text-3xl font-bold my-2 md:text-5xl lg:text-7xl">Christopher Corrêa</h1>
      <h2 class="text-lg font-medium my-2 md:text-xl lg:text-3xl">Desenvolvedor de Software</h2>

      <div class="flex flex-row mt-3">
        <a title="Ir para GitHub" pButton type="button" icon="pi pi-github"
          class="p-button-lg p-button-outlined p-button-rounded no-underline mr-3"
          href="https://github.com/ChrisACorrea" target="_blank" rel="noopener"></a>
        <a title="Ir para LinkedIn" pButton type="button" icon="pi pi-linkedin"
          class="p-button-lg p-button-outlined p-button-rounded no-underline"
          href="https://www.linkedin.com/in/chrisacorrea/" target="_blank" rel="noopener"></a>
      </div>
    </div>

  </div>

  <div class="col-10 col-offset-1 lg:my-5">
    <p-divider></p-divider>
  </div>

  <div class="col-10 col-offset-1 text-center">
    <div class="flex flex-1 flex-column align-items-center">
      <p>
        Desenvolvedor | Programador | Solucionador de Problemas | Menino do Computador | O Cara da Tecnologia
      </p>

      <p>
        Seja como queira me chamar, seja como conheça minha maravilhosa profissão o fato é que transformo ideias, sonhos
        e/ou soluções em código e torno-os em realidade.
      </p>

      <p>
        Estou sempre buscando adquirir novos conhecimentos e habilidades para poder criar as melhores soluções
        utilizando
        as ferramentas mais apropriadas, não importando qual seja, e busco manter sempre minha mente aberta para
        tecnologias e abordagens que eu desconheço.
      </p>

      <p>
        Todavia, também tenho minhas preferências e objetivos, e hoje vejo estudando e buscando informações mais
        intensamente sobre a plataforma .NET e as tecnologias nesse contexto (.NET Core, Asp.Net, Blazor, MAUI, etc),
        além
        de Angular e Typescript. E aí tem uma "vaguinha" para mim? ^^
      </p>

      <p>
        Possuo experiências com outras linguagens e tecnologias também:
      </p>
      <ul class="text-left">
        <li> Academicamente já usei mais intensamente: Java, Javascript, PHP e Python (com Django)</li>
        <li> Profissionalmente já atuei com: Java, Javascript, Typescript, Angular, SQL</li>
        <li> Em projetos em grupo já utilizei também, além de algumas já citadas: NodeJS, ReactJS e React Native, MySQL
        </li>
        <li> E por fim, em projetos pessoais e estudos foram: C#, ASP.Net, Blazor, SQL Server</li>
      </ul>

      <p>
        Dê uma olhada na página de portfólio e em meu <a title="Ir para GitHub" class="no-underline"
          href="https://github.com/ChrisACorrea" target="_blank" rel="noopener">GitHub</a> para ver o que já fiz.
      </p>

      <p>
        Nesse incrível mundo da programação nem o céu é limite e eu pretendo alcançar altos voos. Vamos juntos nessa
        jornada? :)
      </p>

      <p>
        Prazer, meu nome é Christopher! <br>
        E caso queira saber mais sobre mim, fique à vontade para olhar meu perfil no <a title="Ir para LinkedIn"
          class="no-underline" href="https://www.linkedin.com/in/chrisacorrea/" target="_blank"
          rel="noopener">LinkedIn</a> e para entrar em contato comigo.
      </p>

      <p>
        Bem, isso é tudo por enquanto. <br>
        Obrigado por ler até aqui. Até!!
      </p>
    </div>
  </div>
</div>
