<div class="grid mt-3">

  <div class="col-10 col-offset-1 md:col-3 lg:mt-8">
    <div class="flex flex-1 flex-row justify-content-center">
      <p-image src="assets/images/chris.png" alt="Christopher Corrêa" width="100%"
        imageClass="w-full max-w-18rem  border-circle">
      </p-image>
    </div>
  </div>

  <div class="col-10 col-offset-1 md:col-6">
    <div class=" flex flex-1 flex-column text-center
        md:h-full md:justify-content-center md:text-left">
      <h1 class="text-3xl font-bold my-2 md:text-5xl lg:text-7xl">Christopher Corrêa</h1>
      <h2 class="text-lg font-medium my-2 md:text-xl lg:text-3xl">Desenvolvedor de Software</h2>
    </div>
  </div>

  <div class="col-10 col-offset-1 lg:mt-5 lg:mb-8">
    <p-divider></p-divider>
  </div>

  <div class="col-10 col-offset-1 text-center">
    <div class="text-3xl text-yellow-500 font-medium md:text-5xl lg:text-7xl">
      <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
      <span class="mx-2 lg:mx-5">Em construção...</span>
      <fa-icon [icon]="faPaintRoller"></fa-icon>
    </div>
  </div>

</div>
